div.axis
    width: 100%
    display: flex
    align-items: center
    justify-content: center

div.bar
    height: 36pt
    line-height: 36pt
    padding: 10pt
    margin-top: 4pt
    margin-bottom: 4pt
    border-top-style: solid
    border-bottom-style: solid
    border-width: 6px
    border-color: #000
    background-color: #fff
    width: 50%

div.text-wrapper, div.text-wrapper-white
    font-size: 36pt
    line-height: 36pt
    color: #222222
    

div.text-wrapper-white
    color: #DDDDDD

div.results
    width: 80%
    max-width: 1000px
    display: block
    margin-left: auto
    margin-right: auto

%leftaxis
    text-align: left
    border-left-style: solid
    border-top-left-radius: 28pt
    border-bottom-left-radius: 28pt
    margin-left: 4px

%rightaxis
    text-align: right
    border-right-style: solid
    border-top-right-radius: 28pt
    border-bottom-right-radius: 28pt
    margin-right: 4px

//Seriousposting axis
div.libertarian
    @extend %leftaxis
    background-color: #B22222

div.paternalist
    @extend %rightaxis
    background-color: #00F

//Personality axis
div.planned
    @extend %leftaxis
    background-color: #C000FF
div.laissez
    @extend %rightaxis
    background-color: #EE2436
   
//Allegiance axis
div.partisan
    @extend %leftaxis
    background-color: #EDB509
div.nonpartisan
    @extend %rightaxis
    background-color: #333

//Experience axis
div.autocracy
    @extend %leftaxis
    background-color: #00F
div.democracy
    @extend %rightaxis
    background-color: #FF0000

@media screen and (max-width: 800px)
    div.results 
        width: 80vw
    div.bar 
        height: 4vw
        width: 25vw
    img.value
        height: 20vw
        width: 20vw
    div.text-wrapper, div.text-wrapper-white
        font-size: 4vw
        line-height: 4vw